@import "../theme/theme.scss";

.centeredBox {
  margin-top: 3px;
  margin-bottom: 10px;
  min-width: 320px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mainBox .message {
  font-weight: bold;
}

#mainBox .gameStartButton {
  margin-top: 10px;
  font-size: 1.5rem;
  padding: 12px 24px;
  background-color: $primary-color;
  color: $secondary-color;

  &:hover {
    background-color: $primary-color;
    opacity: 0.9;
  }
}
