.spaceEvenlyBox {
  margin-top: 3px;
  margin-bottom: 10px;
  margin-left: 25px;
  min-width: 320px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mainBox {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainBox .message {
  font-weight: bold;
}

#mainBox .gameStartButton {
  margin-top: 10px;
  font-size: 1.5rem;
  padding: 12px 24px;
  background-color: #87ceeb;
  color: white;

  &:hover {
    background-color: #87ceeb;
    opacity: 0.9;
  }
}
